#advantages {

    .container {
        margin-bottom: 200px;
    }
    
    .section-title {
        font-size: 64px;
        text-align: left;
        font-weight: 700;
        margin-bottom: 80px;
    }
    
    .reasons {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // justify-content: space-between;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 80px;
    }
}