#home {
    height: 100vh;
    width: 1280px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;

    .text-cont {
        display: flex;
        position: absolute;
        max-width: 1280px;
        width: 100%;
        justify-content: flex-start;
    }

    .title-cont {
        display: flex;
        justify-content: left;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        text-align: right;
        z-index: 100;
        height: 660px;
    }

    .title {
        font-size: 48px;
    }

    .img-cont {
        // background-color: blue;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    
    .img-cont::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0px 20px 45px 90px rgb(0, 0, 0);
        width: 100%;
        height: 100%;
    }
    
    .img {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    @media (width < 1000px) {
        margin-top: 50px;

        .title-cont {
            justify-content: middle;
        }
    }

    @media (width < 750px) {
        .title {
            text-align: center;
        }
    }
}