#membership {

    .section-title {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 150px;
    }

    .passes {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 20px;
    }

    @media (width < 1000px) {

        .passes {
            overflow-x: scroll;
            overflow-y: hidden;
            gap: 40px;
            -webkit-overflow-scrolling: touch;
        }
    }

    @media (width < 750px) {

        .passes {
            padding: 0 40px;
        }
    }
}