nav {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 40px;
    // max-width: 100%;

    .container {
        width: 100%;
        max-width: 1280px;
        position: absolute;
        // top: 30px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        font-size: 24px;
    }

    .sub-logo {
        color: yellow;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 75px;
        font-size: 15px;
    }
}